.active-generic {
    background-color: $THEME_COLOR_ACTIVE !important;
}

.active-hover {
    @extend .no-margin;
    background-color: $THEME_COLOR_PRIMARY !important;
    border-radius: .25rem;
    border: 1px solid $THEME_COLOR_PRIMARY;
    color: $THEME_COLOR_TEXT;
}

.text-danger {
    color: $DANGER;
}

.rounded {
    border-radius: 50% !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-spaces {
    @extend .no-margin;
    @extend .no-padding;
}

.bg-light {
    background-color: $BACKGROUND_COLOR;
}

.bg-dark {
    background-color: $BACKGROUND_COLOR_ACTIVE;
}

.radius {
    border-radius: $RADIUS !important;
}

.btn {
    @extend .radius;
    border: none;
    outline: none !important;
    margin: 1px;
    padding: 10px;

    &:hover, &:active, &:focus {
        outline: none !important;
    }
}

.btn-primary {
    @extend .active-hover;
    border: 1px solid $THEME_COLOR_PRIMARY !important;

    &:hover, &:active {
        box-shadow: none !important;
        border: 1px solid $THEME_COLOR_PRIMARY !important;
        @extend .active-generic;
    }
}

.btn-danger {
    background-color: $DANGER;
    color: $THEME_COLOR_TEXT;

    &:hover, &:active {
        background-color: $DANGER_ACTIVE;
        color: $THEME_COLOR_TEXT;
    }
}
