@import './_colors';

$BASE_FONT_SIZE: 18px;
$RADIUS: 0.4rem;
$NAVBAR_HEIGHT: 49px;
$BASE_PADDING: $BASE_FONT_SIZE * 1.2;
$SMALL_PADDING: $BASE_FONT_SIZE * 0.3;
$MEDIUM_PADDING: $BASE_FONT_SIZE * 0.5;

$BACKGROUND_COLOR: $GREY_LIGHT;
$BACKGROUND_COLOR_ACTIVE: $GREY_DARK;
$THEME_COLOR_TEXT: $WHITE;
$THEME_COLOR_PRIMARY: $BLUE_CURACAO;
$THEME_COLOR_ACTIVE: $SQUEAKY;
$THEME_COLOR_LIGHT: $WHITE;
$THEME_COLOR_ACTIVE_RGBA: $WHITE_RGBA;
$DANGER: $PORCELAIN_ROSSE;
$DANGER_ACTIVE: $APPLE_VALLEY;
$DARK: $PENCIL_LEAD;
