@import './_colors';

$BASE_FONT_SIZE: 14pt;
$RADIUS: 0.4rem;
$NAVBAR_HEIGHT: 49px;
$BASE_PADDING: $BASE_FONT_SIZE * 1.2;

$BACKGROUND_COLOR: $GREY_LIGHT;
$BACKGROUND_COLOR_ACTIVE: $GREY_DARK;
$THEME_COLOR_TEXT: $WHITE;
$THEME_COLOR_PRIMARY: $CREAMY_PEACH;
$THEME_COLOR_ACTIVE: $SAWTOOTH_AAK;
$THEME_COLOR_LIGHT: $WHITE;
$THEME_COLOR_ACTIVE_RGBA: $WHITE_RGBA;
$DANGER: $PORCELAIN_ROSSE;
$DANGER_ACTIVE: $APPLE_VALLEY;
