@import '../../assets/scss/variables';
@import '../../assets/scss/generic';

.navbar {
    background-color: $THEME_COLOR_PRIMARY;
    padding: 0px;
    font-family: Comfortaa;
    border-bottom: 1px solid $BACKGROUND_COLOR;

    a:active, a:visited,
    a:link, a:hover, a {
        color: $THEME_COLOR_TEXT;
        border-radius: .25rem;
    }
}

.navbar-brand {
    font-size: $BASE_FONT_SIZE * 1.3 !important;
}

.navbar-nav,
.navbar-nav .icon  {
    font-size: $BASE_FONT_SIZE * 1.2;
}

.nav-item {
    $navItemSpace: $BASE_FONT_SIZE * 0.5;
    padding: $navItemSpace;

    &:hover {
        background: $THEME_COLOR_ACTIVE;
    }
}

.active {
    @extend .active-generic;
}

.active:hover {
    border: none;
    margin: 1px;
}

.nav-link {
    padding: 0.6rem !important;
    margin: 1px;

    &:not(.active):hover {
        @extend .active-hover;
    }
}

